@import "../../variables";

body {
    font-size: .875rem;
}

[role="main"] {
    padding-top: $top-menu-height;
    padding-bottom: 30px;
}

.form-control {
    &.is-invalid {
        background-image: none;
        padding: 0.37rem 0.75rem;
    }
}

.form-control-sm {
    &.is-invalid {
        padding: 0.25rem 0.5rem;
    }
} 

